---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 22 2025')}
	
>
	<p>
		A fellow traveller like you. Trying to find meaning and learn new things in life.
	</p>

	<p>
		
</Layout>
